body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

    position: relative;
    /* Kreves for å posisjonere det indre elementet */
    width: 500px;
    /* Bredden på kortet */
    height: 700px;
    /* Høyden på kortet */
    border-radius: 10px;
    /* Avrundede hjørner for å gi kortform */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Skyggeeffekt for å gi dybde */
    margin: 50px auto;
    /* Senter kortet horisontalt */
    padding: 20px;
    /* Innpakning for innholdet innenfor kortet */
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

.game-options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-color: pink;
    color: #000000;
    border: none;
    border-radius: 5px;
    /* Add box-shadow for a 3D effect */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    /* Add transition for smooth hover effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    /* Apply translateY to create a lift effect on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    /* Increase box-shadow size on hover */
}

/*knapper*/
.container {
    text-align: center;
    margin-top: 50px;
}

.game-options {
    text-align: center;
    /* Sentrer knappene */
}