/* Vanlig stil for desktop */
.container {
    text-align: center;
    margin-top: 50px;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.game-options {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-color: pink;
    color: #000000;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    width: 100%;
    /* Plasser knappene under hverandre */
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.image-container {
    display: flex;
    justify-content: center;
    /* Sentrer bildene horisontalt */
    align-items: flex-start;
    /* Plasser bildene øverst */
    margin-top: 20px;
    /* Juster etter behov for å øke avstanden fra toppen */
}

.image-container img {
    width: 150px;
    /* Juster bredden på bildene etter behov */
    height: auto;
    /* La høyden justeres automatisk for å opprettholde proporsjonene */
    margin: 10px;
    /* Legg til en margin rundt bildene for luft */
}

/* Media Query for mobil */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        /* Endre bredden på containeren for mindre skjermer */
        height: auto;
        /* La høyden tilpasse seg innholdet */
        padding: 10px;
        /* Reduser padding for mindre skjermer */
        margin-top: 20px;
        /* Juster toppmargin for mindre skjermer */
    }

    button {
        font-size: 16px;
        /* Reduser fontstørrelsen for knappene på mindre skjermer */
    }

    .image-container img {
        width: 100px;
        /* Reduser størrelsen på bildene for mindre skjermer */
        margin: 5px;
        /* Reduser margen rundt bildene for mindre skjermer */
    }
}